<!DOCTYPE html>
<html lang="zxx">

{% block header %}
    {{ include('header/header.html.twig') }}
{% endblock %}

<body>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% block navi %}
    {{ include('header/navi.html.twig') }}
{% endblock %}


{% block body %}

{% endblock %}


{% block footer %}
    {{ include('footer/footer.html.twig') }}
{% endblock %}

</body>

</html>